body *{
  box-sizing: border-box;
  font-family: arial;
}
.main-nav {
  position: fixed;
  background-color: lightgrey;
  height: 60px;
  width: 100%;
}
.main-nav h1 {
  position: absolute;
  left: 5px;
}
.main-nav li {
  display: inline-block;
  position: relative;
}
main {
  position: absolute;
  top: 100px
}
ul {
	list-style: none;
}
.main-nav ul {
  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
}
.search-functions {
  margin-bottom: 30px
}
label {
	position: relative;
	left: 50px;
}
.search-functions form {
	position: relative;
	left: 50px;
}
.search-functions input {
	width: 500px;
	height: 30px;
}
.magnifying-glass {
	width: 30px;
	height: 28px;
	position: relative;
	top: 12px;
	border: 1px solid lightgrey;
}
.page-change {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.page-button {
  padding: 8px 15px;
  border-radius: 3px;
}
.total-pages {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding-left: 5px;
  padding-right: 5px;
}
.listing {
	font-size: 15px;
	color: grey;
	padding: 10px;
}